
body{
  margin: 20px;
  background-color: #fbf3f3;
}
* {
  box-sizing: border-box;
}
.card {
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  float: left;
  width: 32%;
  height: 200px;
  visibility: visible;
}
.details {
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  width: 0 auto;
  height: 20vw;
  background-color: white;
}

.card:hover, .card.selected {
  border: 1px solid #777;
  background-color: #f0e8e8;
}
.flex-container {
  display: flex;
  flex-direction: row;
  
}

.flex-child1{
  width: 70%;
  display: flex;
  flex-direction: column;
  
  margin:10px;
  
}
.flex-control{
  display: grid;
  height: 100px;
  align-content: end;
  grid-template-columns: auto auto;
  gap: 10px;
  padding: 10px;
  
}

button {
  background-color: #afa04c; /* Green */
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px 32px;
  margin: 5px;
}
.submitButton>button{
  width: 90%;
  margin:5%;
  align-content: center;
}
.hidden{
  display:none;
}
.heading-control{
  margin-top:100px;
  margin-left: 20px;
}